name: Test-CI
on:
  push:
    branches:
      - main
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4.2.2
      - name: Building using Maven
        run: mvn clean install
      - name: Listing the new package
        run: ls -la target/
